.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 42vw;
  height: 80vh;
}

.listIngredients {
  margin-top: 100px;
  margin-bottom: 30px;
}

.customScrollbar {
  overflow: auto;
  height: 41vh;
  margin-top:10px;
  margin-bottom:10px;
}

.customScrollbar::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 10px;
  height: 10px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.middleIngredients {
  composes: customScrollbar;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.onHover {
  border: dashed green;
  border-radius: 55px;
}

.dragBun {
  visibility: hidden;
}

.tooltipContent {
  position: relative;
  display: inline-block;
}

.tooltipContent::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 360px;
  top: 0;
  left: 0;
  background: #f8d7da;
  color: #842029;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #f5c2c7;
}

.tooltipContent:hover::after {
  opacity: 1;
  top: 4em;
}
