.burger_constructor{
  display: flex;
  flex-direction: column;
  width: 42vw;
}

.list_ingredients {
  margin-top: 100px;
  margin-bottom: 30px;
}

.custom_scrollbar {
  overflow: auto;
  height: 540px;
  margin-top:10px;
  margin-bottom:10px;
}

.custom_scrollbar::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 10px;
  height: 10px;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.middle_ingredients {
  composes: custom_scrollbar;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.on_hover {
  border: dashed green;
  border-radius: 55px;
}

.drag_bun {
  visibility: hidden;
}

.help_text {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 0;
  color: #404053;
}

.tooltipContent {
  position: relative;
  display: inline-block;
}
.tooltipContent::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 360px;
  top: 0;
  left: 0;
  background: #f8d7da;
  color: #842029;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #f5c2c7;
}
.tooltipContent:hover::after {
  opacity: 1;
  top: 4em;
}
