.container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.content {
  width: 1250px;
}

.header {
  margin-bottom: 15px;
}

.main {
  display: flex;
  justify-content: center;
}

.block {
  overflow: auto;
  height: 80vh;
  width: 595px;
}

.blockLeft {
  composes: block;
  margin-right: 60px;
}

.blockRight {
  composes: block;
}
