.on_hover {
  display: block;
  height: 30px;
  width: 90%;
  border: dashed green;
  border-radius: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
