.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  max-width: 20vw;
}

.price {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  gap: 10px;
}

.currencyIcon {
  padding-left: 45px;
}
