.content {
  margin-right: 40px;
  width: 595px;
}

.tabs {
  display: flex;
  margin-top: 20px;
}

.custom_scrollbar {
  overflow: auto;
  max-height: 65vh;
  margin-top:10px;
  margin-bottom:10px;
}

.custom_scrollbar::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 10px;
  height: 10px;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.list_ingredients {
  composes: custom_scrollbar;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
