.listOrderStatuses {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 60px;
}

.status {
  width: 280px;
  padding-bottom: 24px;
  /* Удалить после изменение размещения, по 10 строк на столбец */
  overflow: auto;
  height: 39vh;
}

.statusDone {
  composes: status;
  margin-right: 35px;
}

.statusProgress {
  composes: status;
}

.completedInTime {
  padding-bottom: 60px;
}

.done {
  color: #00CCCC;
}
